@import "tailwindcss";
@config "./tailwind.config.js";

@font-face {
  font-family: 'Cal Sans';
  src: url('/fonts/CalSans/CalSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 16 90% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 16 90% 55%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --footer: 0, 0%, 98%;
    --bg-dots: 130, 15%, 92.2%;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 98%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 90% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 16 90% 55%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --footer: 0, 0%, 4%;
    --bg-dots: 310, 15%, 10%;
  }
}


/* eslint-enable css/no-invalid-at-rules */

.dotted-bg {
  background-image: radial-gradient(circle at 7px 7px, hsl(var(--bg-dots)) 1px, transparent 1px);
  background-size: 15px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cal Sans", system-ui, sans-serif;
}

body {
  color: hsl(var(--foreground));
}

a,
a>* {
  cursor: pointer;
}

.cal-sans {
  font-family: "Cal Sans", system-ui, sans-serif;

}